.card-img-top{
    min-height: 150px;
}
.velkostObrazka {
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 800px;
}



.carousel-inner {
    transition-duration: 3s; /* Zmena rýchlosti na 3 sekundy */
}